DJANGO_SECRET_KEY=reestr-telecom-local-dev-secret-key-change-in-production-2026
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,reestr.darrov.uz
DJANGO_CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,https://reestr.darrov.uz

POSTGRES_DB=reestr_telecom
POSTGRES_USER=reestr_user
POSTGRES_PASSWORD=reestr_password
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432

# Initial manager for: python manage.py create_manager
MANAGER_USERNAME=manager
MANAGER_PASSWORD=manager12345
MANAGER_EMAIL=manager@example.com
MANAGER_FIRST_NAME=Manager
MANAGER_LAST_NAME=User
